html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
    background-image: linear-gradient(45deg, #161627, #2d2d3e);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center;    /* center horizontally */
}

h1 {
    color: #EBDDD6;
    font-size: 10em;
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1.0);
}

input {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 9999px;
    border: none;
    font-size: 1.2em;
    background-color: #2A2D3C;
    color: #EBDDD6;
    outline: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

input::placeholder {
    color: #82737F; /* lighter gray or any color you want */
    opacity: 1;  /* default is often lower (like 0.5) */
}