body {
    overflow: hidden;
}

.search-box {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 3vw;
  margin: 0 auto;
}

.search-box input {
  padding: 2vw 3vw;
  border-radius: 9999px;
  border: none;
  font-size: 2.0vw;
  background-color: #2A2D3C;
  box-sizing: border-box;
  color: var(--highlight);
  outline: none;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%; /* fixed height for predictable centering */
  transform: scale(1.0);
  transition: 0.2s ease;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.5vw;
  height: 3.5vw;
  opacity: 1.0;
  pointer-events: none;
  transition: 0.2s ease;
  transform: translate(-1vw, -1.1vw) scale(1);
}

.search-box input:focus + .search-icon,
.search-box input:not(:placeholder-shown) + .search-icon {
  opacity: 0;
  transform: translate(-1vw, -1.1vw) scale(0.0);
}

.search-box input:focus, .search-box input:not(:placeholder-shown) {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  background-color: #16162780;
}


