body {
    overflow: hidden;
}

.search-box {
  position: relative;
  display: inline-block;
  width: 50vw;
}

.search-box input {
  padding: 10px 15px;
  border-radius: 9999px;
  border: none;
  font-size: 1.2em;
  background-color: #2A2D3C;
  color: #EBDDD6;
  outline: none;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 3vw; /* fixed height for predictable centering */
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  opacity: 1.0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  transform: translate(-25%, -50%);
}

input::placeholder {
  color: #82737F;
  opacity: 1;
}

.search-box input:focus + .search-icon,
.search-box input:not(:placeholder-shown) + .search-icon {
  opacity: 0;
}
