:root {
    /* --highlight: #d6ebe9;
    --light_glass: rgba(45, 45, 80, 0.6);
    --mid: rgba(33, 33, 60, 0.5);
    --dark: #161627;
    --shadow: rgba(0, 0, 0, 0.2);
    --glass: #16162780 */
    --highlight: #d6ebe90e;
    --glass: #16162780;
    --text: #EBDDD6;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-image: linear-gradient(45deg, #111120, #38384f);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text);
    font-size: 8vw;
    text-align: center;
    margin: 0;
    font-weight: 300;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1.0);
}

















.nav_item {
  margin: 0.5vw;
  width: 4vh;
  height: 4vh;
}

.nav_item_container {
  display: flex;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.nav_item img {
  width: 100%;
  height: 100%;
}

#nav {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: var(--glass);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    outline: 1px solid var(--highlight);
}



#top_search {
    display: flex;
    align-items: center;
    gap: 0.5rem;               /* space between input and button */
    padding: 4px;
    border-radius: 9999px;
    background-color: rgba(33, 33, 60, 0.50);
    color: var(--highlight);
    width: 50%;
    height: 70%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    outline: 1px solid var(--highlight);
}

#top_search input {
    margin-left: 0.6vw;
    flex: 1;
    height: 100%;                /* match container height */
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
}

#top_search button {
    height: 100%;                /* match container height */
    padding: 0 1rem;             /* horizontal padding only */
    background: var(--glass);
    color: var(--text);
    border: none;
    outline: none;
    border-radius: 9999px;
    cursor: pointer;
}
