.result img {
    height: 9vw;
    width: 16vw;
    margin: 0.5vw;
    border-radius: 1.5vw;
}

#results {
    font-size: 1vw;
    color: var(--text);
    margin-top: calc(6vh + 0.5vw);
}


.result {
    display: flex;
    overflow: hidden;
    margin: 0.5vw;
    background-color: var(--glass);
    padding: 0px;
    border-radius: 2vw;
    cursor: pointer;
    height: 10vw;
    width: 80vw;
}

