.result img {
    height: 9vw;
    width: 16vw;
    margin: 0.5vw;
    border-radius: 1.5vw;
}



.result {
    display: flex;
    overflow: hidden;
    margin: 10px;
    background-color: #16162780;
    padding: 0px;
    border-radius: 2vw;
    cursor: pointer;
    height: 10vw;
    width: 80vw;
}

